doctype html
html
    head
        meta(charset='UTF-8')
        title Before I Die
        link(rel='stylesheet', type='text/css', href="/stylesheets/style.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')
        script(src="/javascripts/because.js")
    body
        h1 Before I Die
        #form-container
            form(action='/create_dream', method='post' id="dreamform")
                p
                    em I want to
                    p &nbsp;
                input#dream-text-field(type='text', name='dream')
                br
        hr
        table
            each dream in dreamList
                tr
                    td=dream.content
                    td
                    td
                            ul
                                li
                                    form(action='/upvote/'+dream._id, method='post')
                                        input(type='image',src='/img/UpArrow.svg', width='22px')
                                li
                                    h5=dream.points
                                li
                                    form(action='/downvote/'+dream._id, method='post')
                                        input(type='image',src='/img/DownArrow.svg', width='22px')
